@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

@layer components{
  .btn{
    @apply transition w-fit h-fit p-[0.6rem_2.2rem] text-sm font-normal rounded-md flex justify-center items-center gap-2 cursor-pointer
  }

  .btn-block{
    @apply w-full
  }
  
  .btn-primary{
    @apply bg-primary text-white
  }

  .btn-secondary{
    @apply bg-secondary text-white
  }

  .btn-outline-primary{
    @apply border border-primary bg-transparent text-primary hover:bg-primary hover:text-white
  }

  .btn-outline-secondary{
    @apply border border-secondary bg-transparent text-secondary hover:bg-secondary hover:text-white
  }

  .input-label{
    @apply text-slate-500 text-[0.8rem] font-light
  }

  .input{
    @apply transition w-full h-fit p-[0.4rem_0.6rem] text-dark text-[0.8rem] font-light bg-white border border-slate-400 focus:border-primary focus:outline-none rounded-md
  }
}